html, body {
    margin: 0;
    height: 100%;
}

#overlay {
    background-color: rgba(0, 0, 255, 0.075);
    z-index: 3;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}