html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Brush Script MT', cursive;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.flex-container {
    display: flex;
}

#overlay {
    background-color: rgba(0, 0, 255, 0.005);
    z-index: 3;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

#name {
    font-size: 3em;
    font-family: 'Gill Sans', sans-serif;
}

#logo {
    margin-left: 2em;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    float: left;
}

#container {
    display: block;
    overflow-y: auto;
    background-color: pink;
    height: 100%;
}

#topNav {
    width: 100%;
    background-color: white;
    align-items: center;
    /* height: 5em; */
}

#topNav h1 {
    float: right;
}

/* #topNav a {
    float: right;

} */

#navL {
    align-items: center;
    flex: 2;
}

#navR {
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    /* margin-right: 2em; */
}

#navR>h1 {
    float: right;
    text-decoration: none;
    color: black;
    padding: .1em .5em .1em .5em;
    /* padding: 10px 10px 10px 10px; */
}

#navR a {
    float: right;
    text-decoration: none;
    color: black;
    padding: .3em 1.3em .3em 1.3em;
    /* padding: 10px 10px 10px 10px; */
}

#navR a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 10%;
}


/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* ::-webkit-scrollbar-button {
    
} */
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* ::-webkit-scrollbar-track-piece */
/* ::-webkit-scrollbar-corner */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}